body {
  background-color: green;
  background-image: url(http://i62.tinypic.com/5vn8xz.png);
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 150%;
}

section {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 50px 20px;
  text-align: center;
}

/* Snow */
canvas {
  position: absolute;
  top: 0;
}
